
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, Verdana, sans;
}

x-card {
  padding: 1rem;
}

h1 {
  margin: 0 0 1rem 0;
}

#install {
  margin: 0.2rem;
  background: #f00;
  border: 1px solid;
  padding: 0.2rem;
  line-height: 1;
  border-radius: 0.2rem;
  font-size: 80%; 
}

#install:hover {
  background: orange;
}

.hidden {
  display: none;
}

x-tabbar-tab[selected] {
  background: rgba(14, 115, 161, 1);
}
